
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
body {
    line-height: 1;
    position:relative;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*............................................ ÊÀËÅÍÄÀÐÜ */
#calendar3 {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}
#calendar3 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}
#calendar3 tbody td {
    color: rgb(44, 86, 122);
}
#calendar3 tbody td:nth-child(n+6), #calendar3 .holiday {
    color: rgb(231, 140, 92);
}
#calendar3 tbody td.today {
    outline: 3px solid red;
}

/*............................................ //ÊÀËÅÍÄÀÐÜ */

/*
.inp2{
    border: 1px solid #c2c6ce;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14) inset;
    color: #3e4146;
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    margin: 0 auto;
    outline: medium none;
    padding: 12px 40px 12px 10px;
    width: 590px;
}*/


.grajdan{
    display: none;
}

body{
    background-color: #ccc;

}

#wrapper{
    width:1024px;
    background: #fff;
    margin: 0 auto;
    /*outline: 1px solid red;*/
}

.top{
    width: 100%;
    height:150px;
    background-color: #4A215F;
}

.min15{
    color: #553177;
    font: 700 18px/20px "Verdana";
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    margin-top: 30px;
}

#slideVal{
    border: 1px solid #c2c6ce;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14) inset;
    min-height: 35px;
    padding-left: 10px
}

#slideVal:focus{
    box-shadow: 0 0 2px #8a4fc1 inset;
}
#slideVal2:focus{
    box-shadow: 0 0 2px #8a4fc1 inset;
}

#slideVal2{
    border: 1px solid #c2c6ce;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14) inset;
    min-height: 35px;
    padding-left: 10px
}

#slider, #slider2{
    width: 100%;
    height: 5px;

}
#slider span{
    height:20px;
}

#slider2 span{
    height:20px;
}

.wrapper_in{
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    min-height: 400px;
    padding: 20px 0;
}

.kalk{
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 14px
}

.kalk2{
    position: absolute;
    right: 0;
    bottom: 30px;
    font-size: 14px
}
.inp2{
    border: 1px solid #c2c6ce;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14) inset;
    padding: 12px 40px 12px 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.inp2:focus{
    box-shadow: 0 0 2px #8a4fc1 inset;
}

#block2{
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#block3{
    margin-top:40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;

    position: relative;
}
.select_spisok{
    width: 0 !important;
}


#block6{
    padding:20px 0;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

#block6 input{
    width: 45%;
}
#block6 input:nth-child(1){
    margin-right: 20px;
}
#block7{
    padding:40px;
    border-bottom: 1px solid #ccc;
    background-color: #F0F2F6;
    color: #000;
    font-size: 15px;
}

#block8{
    padding:20px;
}

.but_sub{
   /* background: url("images/grad-index-buttons.png") repeat-x scroll 0 -44px rgba(0, 0, 0, 0);*/
    background-color: #44275f;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 300;
    height: 44px;
    line-height: 42px;
    margin: 0 30px 0 0;
    outline: medium none;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    width: 170px;
    border: none;
}

.but_sub:hover {
    background-color: #664981;
}

.pers_dan{
    cursor: pointer;
    text-decoration: underline;
    color: #44275F;
}
.pers_dan:hover{
    text-decoration: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    position:relative;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.inputDiv, .inputDiv2 {
    position: relative;
    width: 50%;
}
.right img{
    /* margin-top:-507px;*/
    display: block;
    z-index: 10;
    float:left;
}

.right ul{
    width:150px;
    /* top:112px;
     left:15px;*/
    margin-top:0px;
    display: block;
    z-index: 30;
    margin-left:45px;
    margin-top:110px;
    position: absolute;

}
.right ul li{
    z-index:1000;
}
#sp1{
    color:#EF312A;
}


.right ul li a {
    font:16px Arial,sans-serif;
    color:#ffffff;
}

.right ul li:nth-child(2){
    margin-top:82px;
}
.right ul li:nth-child(3){
    margin-top:33px;
}
.right ul li:nth-child(4){
    margin-top:90px;
}
.right ul li:nth-child(5){
    margin-top:65px;
}
.right ul li  a{
    cursor: pointer;

}
.marker div{
    width:11px;
    height:11px;
    float:left;
    background: url("../images/marker1.png"/*tpa=http://liga.boom-35.ru/images/marker1.png*/) no-repeat;

}
#sr1{
    background: url("../images/marker2.png"/*tpa=http://liga.boom-35.ru/images/marker2.png*/) no-repeat;
    z-index: 30;
}
#sr2{
    margin-top:87px;
}
#sr3{
    margin-top:45px;
}
#sr4{
    margin-top:100px;
}
#sr5{
    margin-top:73px;
}
.marker{
    float:left;
    width:15px;
    height:400px;
    margin-top:115px;
    margin-right:-13px;
}
















.bx-wrapper .bx-pager{
    display: none;
}












/* Всплывашка */

.exit{
    display: block !important;
    float: right !important;
    height: 10px !important;
    width: 10px !important;
    cursor:pointer !important;
    margin:10px !important;
}



.sub{
    display:block;
    width:280px;
    height:40px;
    margin:0px auto 20px;
    background-image:linear-gradient(#ff8b4d, #ff5900);
    border: 1px solid #ff5900;
    border-radius:5px;
    color:#fff;
    font:20px Arial,sans-serif;
    cursor:pointer;
}
.sub:hover{
    background-image: linear-gradient(#ffb085, #ff8b4d);
    border: 1px solid #e14f00;
}

.p_form{
    font:20px Arial,sans-serif;
    margin:0px;
}

.inp1{
    width:270px;
    height:30px;
    font:25px Arial,sans-serif;
    margin:0px auto 20px;
    display:block;
    border-radius:5px;
    border:1px solid #ACACAC;
    padding:2px 5px;
    color:#8B8B8B;
}

.zakazat_zvonok_vspl{
    position:fixed;
    top:30%;
    left:50%;
    width:300px;
    /*height:270px;*/
    background-color:#F1F4F5;
    z-index:999;
    border:2px solid #FF3605;
    border-radius:20px;
    margin-left:-150px;

}







/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  cap0*/
#cap0{
    height:150px;
    /*background: radial-gradient(#dbc922, #db5d1a) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /* background-color: #ff2a00;*/
    background-image: radial-gradient(#ff9028, #ff2a00);

}
.adress{
    font:18px Arial,sans-serif;
    color:#fff;
    padding-top:10px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.exit{
    display: block !important;
    float: right !important;
    height: 10px !important;
    width: 10px !important;
    cursor:pointer !important;
    margin:10px !important;
}
.mail{
    width: 230px;
    font: 18px Arial,sans-serif;
    display: block;
    margin:5px 0 10px 10px;
    color:#fff;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.mail2{
    float: right;
    font: 18px Arial,sans-serif;
    display: block;
    color:#fff;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
/*.sub{
    display:block;
    width:280px;
    height:40px;
    margin:0px auto 20px;
    background-color:#CF2930;
    border:2px solid #CF2930;
    border-radius:5px;
    color:#fff;
    font:20px Arial,sans-serif;
    cursor:pointer;
}*/
.sub:hover{
    background-color:#CF6368;
    color:#fff;
}

.p_form{
    font:20px Arial,sans-serif;
    margin:0px;
}

.inp1{
    width:270px;
    height:30px;
    font:25px Arial,sans-serif;
    margin:0px auto 20px;
    display:block;
    border-radius:5px;
    border:1px solid #ACACAC;
    padding:2px 5px;
    color:#8B8B8B;
}

/*.zakazat_zvonok_vspl{
    position:absolute;
    top:30%;
    left:50%;
    width:300px;
    height:270px;
    background-color:#F1F4F5;
    z-index:999;
    border:2px solid #CF2930;
    border-radius:20px;
    margin-left:-150px;

}*/

.bx-viewport{
    height:244px !important;
}

.wrapper0{
    width:1000px;
    margin:0 auto;
}

.number_tel{
    font:25px Arial,sans-serif;
    color:#ffffff;
    /*margin-left:773px;
    margin-top:5px;*/
    float: right;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

}

.logo{
    margin:0px 0 0 7px;
    float:left;
    display:block;
    font: 70px Arial,sans-serif;
    text-decoration: none;
    color:#fff;
    padding-top:30px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.logo2{
    margin:0px 0 0 7px;
    float:left;
    display:block;
    padding-top:35px;
}
.book_a_call1{
    display: block;
    background: url("../images/zvonok.png"/*tpa=http://liga.boom-35.ru/images/zvonok.png*/) 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    cursor: pointer;
    float: right;
}

.book_a_call1:hover{
    display: block;
    background: url("../images/zvonok2.png"/*tpa=http://liga.boom-35.ru/images/zvonok2.png*/) 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    cursor: pointer;
}
.poluchit{
    height: 40px;
    width: 150px;
    float: left;
    background-image: linear-gradient(#ff8b4d, #ff5900);
    border: 1px solid #ff5900;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font: 18px Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin-left:20px;
}
.poluchit:hover{
    background-image: linear-gradient(#ffb085, #ff8b4d);
    border: 1px solid #e14f00;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    cap*/
#cap{
    width:100%;
    /* height:568px;*/
    margin:40px auto 0;
    z-index: -100;
}


.slide1_h{
    font:50px Arial,sans-serif;
    color:#ff2a00;
    padding-bottom:5px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

}
.slide1_img{
    width:200px;
    height:200px;
    float:left;
    margin-top:15px;
}
.slide1_ul{
    font: 20px Arial,sans-serif;
    list-style-type: disc;
    color: #6c6f70;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}










#result{
    width:330px;
    height:40px;
    /*background-color: #DB2E2B;*/
    font:18px Arial,sans-serif;
    color:#fff;
    border:1px solid #FF5900;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(#ff8b4d, #ff5900);
}
#result:hover{
    background-image:linear-gradient(#ffb085, #ff8b4d);
    border:1px solid #e14f00;
}

#result2{
    margin-left: 20px;
    height: 33px;
    border-radius: 5px;
    border:2px solid #FF2A00;
    font:20px Arial,sans-serif;
    width:130px;
    padding-left:10px;
    color:#6C6F70;
}

.result2_p{

    /* text-shadow: 0.3px -2px 0 #777777;*/

    color: #6c6f70;
    font: 22px Arial,sans-serif;
    list-style-type: disc;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    margin-left: 10px;
}



.h5{
    font:50px Arial,sans-serif;
    color:#ff2a00;
    padding-bottom:5px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}





.wrapper_n{
    width:1000px;
    margin:0 auto;
    padding-bottom:40px;
    padding-top:40px;
}


.block4{



    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
}
#block_n{
    border-bottom: 2px solid #ccc;

}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block1*/

.block1{
    /*background-image: radial-gradient(#ff9028, #ff2a00);*/
    background: url("../images/block8_fon.png"/*tpa=http://liga.boom-35.ru/images/block8_fon.png*/) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-bottom: 120px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
}




.block1_p{
    color: #6c6f70;
    font: 24px Arial,sans-serif;
    list-style-type: disc;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}



.shild1{
    background: url("../images/shild1.png"/*tpa=http://liga.boom-35.ru/images/shild1.png*/) no-repeat;
    background-size: 200px 210px;
    width:225px;
    height: 210px;
    background-position: 25px 0;
    padding-left:10px;
}
.shild1:hover{
    background: url("../images/shild1.2.png"/*tpa=http://liga.boom-35.ru/images/shild1.2.png*/) no-repeat;
    background-size: 200px 210px;
    width:225px;
    height: 210px;
    background-position: 25px 0;

}
.shild2{
    background: url("../images/shild2.png"/*tpa=http://liga.boom-35.ru/images/shild2.png*/) no-repeat;
    background-size: 200px 200px;
    width:200px;
    height: 200px;
}
.shild2:hover{
    background: url("../images/shild2.2.png"/*tpa=http://liga.boom-35.ru/images/shild2.2.png*/) no-repeat;
    background-size: 200px 200px;
    width:200px;
    height: 200px;
}
.shild3{
    background: url("../images/shild3.png"/*tpa=http://liga.boom-35.ru/images/shild3.png*/) no-repeat;
    background-size: 200px 200px;
    width:250px;
    height: 200px;
    background-position: 25px 0;
}
.shild3:hover{
    background: url("../images/shild3.2.png"/*tpa=http://liga.boom-35.ru/images/shild3.2.png*/) no-repeat;
    background-size: 200px 200px;
    width:250px;
    height: 200px;
    background-position: 25px 0;
}



.work{
    font:bold 40px Arial,sans-serif;
    color:#ffffff;
    text-shadow:2px 2px 5px #121e1e;
    text-align: center;
    margin-top:100px;
}
.work span{
    font:40px Arial,sans-serif;

}

.janitor{
    font:16px Arial,sans-serif;
    color:#ffffff;
    text-align: center;
    margin-top:10px;
}

.cap_blocks{
    width:253px;
    height:35px;
    font:20px Arial,sans-serif;
    color:#ffffff;
    border:3px solid #ffffff;
    float:left;
    text-align: center;
    padding-top:5px;
    margin-left:19px;
    cursor:pointer;
}

.cap_blocks:hover{
    color:#7D7373;
    border:3px solid #7D7373;
}

.cap_blocks:nth-child(1){
    margin-left:0px;
}



.p_blocks{
    width:815px;
    margin:47px auto;
    text-align: center;
}

.man1{
    background: url("../images/man2.png"/*tpa=http://liga.boom-35.ru/images/man2.png*/)no-repeat;
    background-size: 200px 200px;
    width:260px;
    /*height: 200px;*/
    float:left;
    padding-top: 210px;
    background-position: 30px 0;
}
.man2{
    background: url("../images/man3.png"/*tpa=http://liga.boom-35.ru/images/man3.png*/)no-repeat;
    background-size: 200px 200px;
    width:220px;
   /* height: 200px;*/
    float:left;
    padding-top: 210px;
    background-position: 10px 0;
    margin-left: 130px;
}
.man3{
    background: url("../images/man1.png")no-repeat;
    background-size: 150px 200px;
    width:200px;
    float:right;
    padding-top: 210px;
    background-position: 20px 0;
}

.calc{
    width:280px;
    position: absolute;
    /*float: right;*/
    /*opacity: 0.8;*/
    right:15px;
    top:120px;
}





.wrapper2{
    width:1000px;
    margin:0 auto;
    /*padding-top:15px;*/
    /*height:93px;*/
    padding: 15px;
    position: relative;
    padding-bottom:40px;

}

.form1{
    padding-top: 20px;
}

.form1 input:nth-child(1){
    background:url("../images/name.png"/*tpa=http://liga.boom-35.ru/images/name.png*/) no-repeat;
    width:303px;
    height:50px;
    margin-left:15px;
    border:none;
    padding-left:10px;
    font:18px Arial,sans-serif;
    float:left;
}
.form1 input:nth-child(2){
    background:url("../images/telephone.png"/*tpa=http://liga.boom-35.ru/images/telephone.png*/) no-repeat;
    width:257px;
    height:50px;
    margin-left:20px;
    border:none;
    padding-left:10px;
    font:18px Arial,sans-serif;
    float:left;
}

.form1 button:nth-child(3){
    background:url("../images/submit1.png"/*tpa=http://liga.boom-35.ru/images/submit1.png*/) no-repeat;
    width:348px;
    height:50px;
    margin-left:20px;
    border:none;
    cursor: pointer;
    float:left;
}

.form1 button:nth-child(3):hover{
    background:url("../images/submit1s.png"/*tpa=http://liga.boom-35.ru/images/submit1s.png*/) no-repeat;
    width:348px;
    height:55px;
    margin-left:20px;
    border:none;
    float:left;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block3*/

.wrapper3{
    width:1000px;
    margin:0 auto;
    height:350px;
    padding-top:45px;
}

/*.pigg1{
    background: url(../images/pigg1.png) no-repeat;
    height:150px;
    background-size: 200px 150px;
    padding-left:250px;
}

*/

.pigg{
   /* background: url(../images/pigg1.png) no-repeat;
    opacity:0.2;
    width:1000px;
    height:460px;
    margin: auto;
    position:absolute;
    z-index: 99;
    background-position: 500px 70px;*/

    background: url("../images/pigg1.png"/*tpa=http://liga.boom-35.ru/images/pigg1.png*/) no-repeat scroll 200px 90px / 800px 600px rgba(0, 0, 0, 0);
    height: 700px;
    margin: auto;
    opacity: 0.1;
    position: absolute;
    width: 1000px;
    z-index: 99;

}
.pigg2{
    margin: auto;
    /*position:absolute;*/
    z-index: 100;
    width:1000px;


}



/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block4*/

.wrapper4{
    width:1000px;
    margin:0 auto;
    height:505px;
    padding-top:20px;

}

.wrapper4 h2{
    font:36px Arial,sans-serif;
    color:#8a8a8a;
    text-align: center;
}

.wrapper4 img:nth-child(2){
    float:left;
    margin-top:40px;
}
.wrapper4 div:nth-child(3){
    float:left;
    width:350px;
    margin-left:33px;
}

.wrapper4 img:nth-child(4){
    float:left;
    margin-top:40px;
}
.ppp{
    margin-top:60px;
}
.ppp p{
    font:15px Arial,sans-serif;
    color:#000000;
}

.ppp2{
    margin-top:10px;
}

.ppp2 p:nth-child(1){
    font:20px Arial,sans-serif;
    color:#000000;
    float:left;
    margin-left:80px;
}
.ppp2 p:nth-child(2){
    font:20px Arial,sans-serif;
    color:#000000;
    margin-left:770px;

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block5*/


.wrapper5{
    width:1000px;
    margin:0 auto;
    /*padding-top:15px;*/
    height:587px;
}

.left1{
    width:650px;
    height:325px;
    padding-top:145px;
    float:left;
}

.left1 h3:nth-child(1){
    font:40px Arial,sans-serif;
    color:#ffffff;
}
.left1 p:nth-child(2){
    font:bold 18px Arial,sans-serif;
    color:#b1effc;
}
.left1 p:nth-child(3){
    font:14px Arial,sans-serif;
    color:#ffffff;
    margin-top:30px;
    text-align: justify;
}
.left1 p:nth-child(4){
    font:14px Arial,sans-serif;
    color:#d6d6d6;
    font-style: italic;
    margin-top: 20px;
    text-align: justify;
}
.left2{
    width:650px;
    height:325px;
    padding-top:145px;
    float:left;
}

.left2 h3:nth-child(1){
    font:40px Arial,sans-serif;
    color:#ffffff;
}
.left2 p:nth-child(2){
    font:bold 18px Arial,sans-serif;
    color:#b1effc;
}
.left2 p:nth-child(3){
    font:14px Arial,sans-serif;
    color:#ffffff;
    margin-top:30px;
    text-align: justify;
}
.left2 p:nth-child(4){
    font:14px Arial,sans-serif;
    color:#d6d6d6;
    font-style: italic;
    margin-top: 20px;
    text-align: justify;
}
.left3{
    width:650px;
    height:325px;
    padding-top:145px;
    float:left;
}

.left3 h3:nth-child(1){
    font:40px Arial,sans-serif;
    color:#ffffff;
}
.left3 p:nth-child(2){
    font:bold 18px Arial,sans-serif;
    color:#b1effc;
}
.left3 p:nth-child(3){
    font:14px Arial,sans-serif;
    color:#ffffff;
    margin-top:30px;
    text-align: justify;
}
.left3 p:nth-child(4){
    font:14px Arial,sans-serif;
    color:#d6d6d6;
    font-style: italic;
    margin-top: 20px;
    text-align: justify;
}


.left4{
    width:650px;
    height:325px;
    padding-top:145px;
    float:left;
}

.left4 h3:nth-child(1){
    font:40px Arial,sans-serif;
    color:#ffffff;
}
.left4 p:nth-child(2){
    font:bold 18px Arial,sans-serif;
    color:#b1effc;
}
.left4 p:nth-child(3){
    font:14px Arial,sans-serif;
    color:#ffffff;
    margin-top:30px;
    text-align: justify;
}
.left4 p:nth-child(4){
    font:14px Arial,sans-serif;
    color:#d6d6d6;
    font-style: italic;
    margin-top: 20px;
    text-align: justify;
}

.left5{
    width:650px;
    height:325px;
    padding-top:145px;
    float:left;
}

.left5 h3:nth-child(1){
    font:40px Arial,sans-serif;
    color:#ffffff;
}
.left5 p:nth-child(2){
    font:bold 18px Arial,sans-serif;
    color:#b1effc;
}
.left5 p:nth-child(3){
    font:14px Arial,sans-serif;
    color:#ffffff;
    margin-top:30px;
    text-align: justify;
}
.left5 p:nth-child(4){
    font:14px Arial,sans-serif;
    color:#d6d6d6;
    font-style: italic;
    margin-top: 20px;
    text-align: justify;
}

.right{
    float:left;
    margin-top:45px;
    margin-left:90px;
    position: relative;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block6*/


.wrapper6{
    width:1000px;
    margin:0 auto;
    /*padding-top:15px;*/
    height:93px;
}

.form2{
    padding-top: 20px;
}

.form2 input:nth-child(1){
    background:url("../images/name.png"/*tpa=http://liga.boom-35.ru/images/name.png*/) no-repeat;
    width:303px;
    height:50px;
    margin-left:15px;
    border:none;
    padding-left:10px;
    font:18px Arial,sans-serif;
    float:left;
}
.form2 input:nth-child(2){
    background:url("../images/telephone.png"/*tpa=http://liga.boom-35.ru/images/telephone.png*/) no-repeat;
    width:257px;
    height:50px;
    margin-left:20px;
    border:none;
    padding-left:10px;
    font:18px Arial,sans-serif;
    float:left;
}
.form2 button:nth-child(3){
    background:url("../images/submit1.png"/*tpa=http://liga.boom-35.ru/images/submit1.png*/) no-repeat;
    width:348px;
    height:50px;
    margin-left:20px;
    border:none;
    cursor: pointer;
    float:left;
}

.form2 button:nth-child(3):hover{
    background:url("../images/submit1s.png"/*tpa=http://liga.boom-35.ru/images/submit1s.png*/) no-repeat;
    width:348px;
    height:50px;
    margin-left:20px;
    border:none;
    float:left;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block7*/



.wrapper7{
    width:1000px;
    margin:0 auto;
    /*padding-top:15px;*/
    /*height:1076px;*/
}

.wrapper7 .waiting{
    font:36px Arial,sans-serif;
    color:#8a8a8a;
    text-align: center;
    padding-top:48px;
}

.wrapper7 .looking{
    font:18px Arial,sans-serif;
    color:#99120d;
    width:940px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
    margin-top:35px;
    text-align: center;
    border:2px dashed #ff0707;
    padding-top:30px;
}

.list1{
    float:left;
    margin-left:60px;
}

.list1 li{
    color:#282828;
    list-style-image: url("../images/gal.png"/*tpa=http://liga.boom-35.ru/images/gal.png*/);
    font-size: 18px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    margin-top:53px;
    padding-left:15px;

}

.list2{
    float:left;
    margin-left:195px;
    margin-top:53px;
}

.list2 li{
    color:#282828;
    list-style-image: url("../images/gal.png"/*tpa=http://liga.boom-35.ru/images/gal.png*/);
    font-size: 18px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    padding-left:15px;

}

.list2 li:nth-child(2){
    margin-top:53px;
}
.list2 li:nth-child(3){
    margin-top:70px;
}
.list2 li:nth-child(4){
    margin-top:72px;
}
.list2 li:nth-child(5){
    margin-top:53px;
}
.list2 li:nth-child(6){
    margin-top:53px;
}

.result{
    font:36px Arial,sans-serif;
    color:#000000;
    text-align: center;
    margin-top:45px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< slider мои стили*/

.slider img{
    float:left;
}
.slider .info2{
    float:left;
    width:700px;
    margin-left:25px;
}

.slider .info2 h3{
    font:30px Arial,sans-serif;
    text-align: left;
    margin-top:15px;
}

.slider .info2 p:nth-child(2){
    font:bold 18px Arial,sans-serif;
    color:#8d270e;
    text-align: left;
    margin-top:5px;
}
.slider .info2 p:nth-child(3){
    font:16px Arial,sans-serif;
    color:#000000;
    text-align: left;
    font-style: italic;
    margin-top:10px;
}

/*============================================= SLIDER*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 0px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    /* -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;*/
    /*box-shadow: 0 0 5px #ccc;
    border:  5px solid #fff;*/
    left: 0px;
    background: #fff;

    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url("../images/bx_loader.gif"/*tpa=http://liga.boom-35.ru/images/bx_loader.gif*/) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    /* text-align: center;*/
    width:100px;
    margin-left:280px;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url("../images/controls.png"/*tpa=http://liga.boom-35.ru/images/controls.png*/) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url("../images/controls.png"/*tpa=http://liga.boom-35.ru/images/controls.png*/) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url("../images/controls.png"/*tpa=http://liga.boom-35.ru/images/controls.png*/) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url("../images/controls.png"/*tpa=http://liga.boom-35.ru/images/controls.png*/) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block8*/



.wrapper8{
    width:1000px;
    margin:0 auto;
    height:455px;
}

.wrapper8 h3{
    font:36px Arial, sans-serif;
    color:#000000;
    text-align: center;
    padding-top:45px ;
}

.b1{
    margin-top:30px;
}
.b1_1{
    float:left;
    margin-left:65px;
}

.b1_1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.b1_1 p{
    font:bold 18px Arial, sans-serif;
    color:#32302a;
    text-align: center;
}

.b2{
    margin-top:70px;
}

.b2 div:nth-child(1){
    float:left;
    margin-left:140px;
}
.b2 div:nth-child(2){
    float:left;
    margin-left:90px;
}
.b2 div:nth-child(3){
    float:left;
    margin-left:140px;
}

.b1_2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.b1_2 p{
    font:bold 18px Arial, sans-serif;
    color:#32302a;
    text-align: center;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block9*/


#block9{
    height:93px;
    width:100%;
    background-color:#191919;
    margin:0 auto;
    z-index: -100;
}

.wrapper9{
    width:1000px;
    margin:0 auto;
    /*padding-top:15px;*/
    height:93px;
}

.form3{
    padding-top: 20px;
}

.form3 input:nth-child(1){
    background:url("../images/name.png"/*tpa=http://liga.boom-35.ru/images/name.png*/) no-repeat;
    width:303px;
    height:50px;
    margin-left:15px;
    border:none;
    padding-left:10px;
    font:18px Arial,sans-serif;
    float:left;
}
.form3 input:nth-child(2){
    background:url("../images/telephone.png"/*tpa=http://liga.boom-35.ru/images/telephone.png*/) no-repeat;
    width:257px;
    height:50px;
    margin-left:20px;
    border:none;
    padding-left:10px;
    font:18px Arial,sans-serif;
    float:left;
}
.form3 button:nth-child(3){
    background:url("../images/submit1.png"/*tpa=http://liga.boom-35.ru/images/submit1.png*/) no-repeat;
    width:348px;
    height:50px;
    margin-left:20px;
    border:none;
    cursor: pointer;
    float:left;
}

.form3 button:nth-child(3):hover{
    background:url("../images/submit1s.png"/*tpa=http://liga.boom-35.ru/images/submit1s.png*/) no-repeat;
    width:348px;
    height:50px;
    margin-left:20px;
    border:none;
    float:left;
}




/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  block10*/


#block10{
    height:135px;
    width:100%;
    background-image: radial-gradient(#ff9028, #ff2a00);
    margin:0 auto;
    z-index: -100;
}
.wrapper10{
    width:1000px;
    margin:0 auto;
    height:135px;
}



.right2{
    width:230px;
}

.number_tel2{
    font:28px Arial,sans-serif;
    color:#ffffff;
    margin-top:5px;
    width:230px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);









}

.book_a_call2{
    display: block;
    background: url("../images/zvonok.png"/*tpa=http://liga.boom-35.ru/images/zvonok.png*/) 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    cursor: pointer;
    margin-left: 5px;
}

.book_a_call2:hover{
    display: block;
    background: url("../images/zvonok2.png"/*tpa=http://liga.boom-35.ru/images/zvonok2.png*/) 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    cursor: pointer;
    margin-left: 5px;
}

















/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< всплывающее окно popup*/

.popup,.popup2,.popup3{
    width:660px;
    position: absolute;
    top:200px;
    left:50%;
    margin-left:-330px;
    background-color: #ffffff;
    z-index: 999;

}

.popup_block1{
    height:65px;
    width:100%;
}

.popup_block1 h2{
    font:28px Arial,sans-serif;
    color:#000000;
    float:left;
    padding-left: 35px;
    padding-top: 25px;
}

.popup_block1 .exit{
    float:left;
    margin-right:15px;
    text-align: right;
    margin-top:15px;
    cursor: pointer;
    float:right;
}

.popup_block2{
    width:100%;
    height:85px;
    background-color: #f9f9f9;
}

.popup_block2_1{
    float:left;
    padding-top: 15px;
    margin-left: 35px;
}
.popup_block2_2{
    float:left;
    padding-top: 15px;
    margin-left: 75px;
}
.popup_block2_3{
    float:left;
    padding-top: 15px;
    margin-left: 98px;
}

.popup_block2_1 p:nth-child(1){
    font:bold 16px Arial,sans-serif;
    color:#999999;
}
.popup_block2_1 p:nth-child(2){
    font:bold 16px Arial,sans-serif;
    color:#000000;
    margin-top:5px;
}

.popup_block2_2 p:nth-child(1){
    font:bold 16px Arial,sans-serif;
    color:#999999;
}
.popup_block2_2 p:nth-child(2){
    font:bold 16px Arial,sans-serif;
    color:#000000;
    margin-top:5px;
}

.popup_block2_3 p:nth-child(1){
    font:bold 16px Arial,sans-serif;
    color:#999999;
}
.popup_block2_3 p:nth-child(2){
    font:bold 16px Arial,sans-serif;
    color:#000000;
    margin-top:5px;
}
/*
.popup_block2 img{
width:162px;
height:34px;
display: block;
/*  position: absolute;
left:249px;
top:140px;
cursor: pointer;
z-index: 100;
}
*/

.popup_block2 .requirements{
    display:block;
    width:162px;
    height:34px;
    position: relative;
    /*left:249px;*/
    /* top:140px;*/
    margin-left:250px;
    cursor: pointer;
    z-index: 100;
    background: url("../images/popup_img1.png"/*tpa=http://liga.boom-35.ru/images/popup_img1.png*/) 0 0 no-repeat;
}

.popup_block2 .requirements2{
    display:block;
    width:162px;
    height:34px;
    position: relative;
    /* left:249px;*/
    /*top:140px;*/
    margin-left:250px;
    margin-top:-34px;
    cursor: pointer;
    z-index: 99;
    background: url("../images/popup_img1_2.png"/*tpa=http://liga.boom-35.ru/images/popup_img1_2.png*/)0 0 no-repeat;

}



.popup_block3{
    height:385px;
    width:100%;
}

.popup_block3 p:nth-child(1){
    font: 14px Arial,sans-serif;
    color:#000000;
    padding-top:35px;
    padding-left:35px;
}
.popup_block3 li{
    font: 14px Arial,sans-serif;
    color:#000000;
    list-style-image: url("../images/popup_img2.png"/*tpa=http://liga.boom-35.ru/images/popup_img2.png*/);
    margin-top:15px;
    margin-left:65px;
}
.popup_block3 p:nth-child(3){
    width:600px;
    font: 14px Arial,sans-serif;
    color:#000000;
    font-style:italic;
    text-align: center;
    margin-top: 50px;
    margin-left: 35px;

}

.popup_block4{
    width: 100%;
    height: 70px;
}

.popup_block4 img{
    float:left;
    margin-left: 35px;
}
.popup_block4 button:nth-child(2){
    background-image: url("../images/popup_img4.png"/*tpa=http://liga.boom-35.ru/images/popup_img4.png*/);
    width:221px;
    height: 40px;
    border:none;
    float:left;
    margin-left: 8px;
}
.popup_block4 button:nth-child(2):hover{
    background-image: url("../images/popup_img4_2.png"/*tpa=http://liga.boom-35.ru/images/popup_img4_2.png*/);
    width:221px;
    height: 40px;
    border:none;
    float:left;
    margin-left: 8px;

}
.popup_block4 button:nth-child(3){
    background-image: url("../images/popup_img5.png"/*tpa=http://liga.boom-35.ru/images/popup_img5.png*/);
    width:232px;
    height: 43px;
    border:none;
    float:left;
    margin-left: 8px;
}

.popup_block4 button:nth-child(3):hover{
    background-image: url("../images/popup_img5_2.png"/*tpa=http://liga.boom-35.ru/images/popup_img5_2.png*/);
    width:230px;
    height: 40px;
    border:none;
    float:left;
    margin-left: 10px;
    margin-top:2px;
}




.book_a_call{
    display: block;
    background: url("../images/zvonok.png"/*tpa=http://liga.boom-35.ru/images/zvonok.png*/) 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    margin-left:780px;
    cursor: pointer;
}

.book_a_call:hover{
    display: block;
    background: url("../images/zvonok2.png"/*tpa=http://liga.boom-35.ru/images/zvonok2.png*/) 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    cursor: pointer;
}

.pp{
    width:620px;
    height:52px;
}
.pp2{
    width:675px;
    height:200px;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< popup_block2_hiden*/

.popup_block2_hiden{
    width:100%;
}
.list1_1{
    float:left;
    margin-left:65px;
    margin-top:45px;
    margin-bottom:40px;
}

.list1_1 li{
    color:#282828;
    list-style-image: url("../images/gal.png"/*tpa=http://liga.boom-35.ru/images/gal.png*/);
    font-size: 14px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    margin-top:15px;
    padding-left:0px;

}

.list1_1 li:nth-child(1){
    margin-top: 0px;
}

.list2_2{
    float:left;
    margin-left:50px;
    margin-top:45px;
}

.list2_2 li{
    color:#282828;
    list-style-image: url("../images/gal.png"/*tpa=http://liga.boom-35.ru/images/gal.png*/);
    font-size: 14px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    padding-left:0px;

}
.list2_2 li:nth-child(2){
    margin-top: 15px;
}
.list2_2 li:nth-child(3){
    margin-top: 31px;
}
.list2_2 li:nth-child(4){
    margin-top: 31px;
}
.list2_2 li:nth-child(5){
    margin-top: 15px;
}





.hide-layout {
    background: #000; /* фон */
    /* bottom: 0;  /* координата снизу */
    /*  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
    height: 100%; /* высота на всю страницу */
    opacity: 0.5;  /* прозрачность слоя */
    position: fixed; /* фиксируем элемент на странице*/
    top: 0; /* координата сверху */
    width: 100%; /* ширина на всю страницу */
    z-index: 998; /* z-index для перекрытия остальных элементов */
    display:none;


}


#hide-layout2 {
    /* bottom: 0;  /* координата снизу */
    /*  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
    height: 100%; /* высота на всю страницу */
    opacity: 0.5;  /* прозрачность слоя */
    position: fixed; /* фиксируем элемент на странице*/
    top: 0; /* координата сверху */
    width: 100%; /* ширина на всю страницу */
    z-index: 997; /* z-index для перекрытия остальных элементов */
    display:none;


}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< form_cals*/

.form_calls{
    width:250px;
    height:185px;
    background-image:url("../images/form_calls.png") ;
    position: absolute;
    top:53px;
    left:50%;
    margin-left:237px;
    z-index: 998;
}

.form_calls input:nth-child(1){
    font:16px Arial,sans-serif;
    padding-left:5px;
    width:202px;
    height:31px;
    background-color:#f6f6f6 ;
    border:1px solid #e2e2e2;
    margin-top:45px;
    margin-left: 18px;
}

.form_calls input:nth-child(2){
    font:16px Arial,sans-serif;
    padding-left:5px;
    width:202px;
    height:31px;
    background-color:#f6f6f6 ;
    border:1px solid #e2e2e2;
    margin-top:10px;
    margin-left: 18px;
}

.form_calls button:nth-child(3){
    display: block;
    background: url("../images/zvonok.png") 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    margin-left:18px;
    margin-top: 10px;
    cursor: pointer;
}

.form_calls button:nth-child(3):hover{
    display: block;
    background: url("../images/zvonok2.png") 0 0 no-repeat;
    border:none;
    width:207px;
    height:35px;
    margin-left:20px;
    margin-top: 12px;
    cursor: pointer;
}


.form_calls2{
    width:250px;
    height:185px;
    background-image:url("../images/form_calls2.png") ;
    position: absolute;
    top:95%;
    left:50%;
    margin-left:232px;
    z-index: 998;
}

.form_calls2 input:nth-child(1){
    font:16px Arial,sans-serif;
    padding-left:5px;
    width:202px;
    height:31px;
    background-color:#f6f6f6 ;
    border:1px solid #e2e2e2;
    margin-top:15px;
    margin-left: 20px;
}

.form_calls2 input:nth-child(2){
    font:16px Arial,sans-serif;
    padding-left:5px;
    width:202px;
    height:31px;
    background-color:#f6f6f6 ;
    border:1px solid #e2e2e2;
    margin-top:10px;
    margin-left: 20px;
}

.form_calls2 button:nth-child(3){
    display: block;
    background: url("../images/zvonok.png") 0 0 no-repeat;
    border:none;
    width:209px;
    height:38px;
    margin-left:20px;
    margin-top: 10px;
    cursor: pointer;
}

.form_calls2 button:nth-child(3):hover{
    display: block;
    background: url("../images/zvonok2.png") 0 0 no-repeat;
    border:none;
    width:207px;
    height:35px;
    margin-left:20px;
    margin-top: 12px;
    cursor: pointer;
}
.inputDiv, .inputDiv2 {
    position: relative;
    width: 70%;
    margin-top: 25px;
}
.jq-selectbox ul{
    height: 200px !important;
    overflow: auto;
}
.jq-selectbox__dropdown{
    margin: 7px 0 !important;
}
.gallery img {
    width: 90%;
}